/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * din-2014:
 *   - http://typekit.com/eulas/00000000000000007735afea
 *   - http://typekit.com/eulas/00000000000000007735afee
 *   - http://typekit.com/eulas/00000000000000007735aff1
 *   - http://typekit.com/eulas/00000000000000007735aff4
 *   - http://typekit.com/eulas/00000000000000007735aff6
 * din-2014-narrow:
 *   - http://typekit.com/eulas/00000000000000007735afe5
 *   - http://typekit.com/eulas/00000000000000007735afeb
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-12-10 01:04:11 UTC"}*/

@import url("https://www.kaged.com/p.css?s=1&k=pdp1biy&ht=tk&f=32226.32227.32228.32230.32231.32236.32238&a=87834800&app=typekit&e=css&em-origin=p.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https");

@font-face {
font-family:"din-2014";
src:url("https://www.kaged.com/af/570287/00000000000000007735afea/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff2"),url("https://www.kaged.com/af/570287/00000000000000007735afea/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff"),url("https://www.kaged.com/af/570287/00000000000000007735afea/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"din-2014";
src:url("https://www.kaged.com/af/c2b6e5/00000000000000007735afee/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff2"),url("https://www.kaged.com/af/c2b6e5/00000000000000007735afee/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff"),url("https://www.kaged.com/af/c2b6e5/00000000000000007735afee/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"din-2014";
src:url("https://www.kaged.com/af/2bc98d/00000000000000007735aff1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff2"),url("https://www.kaged.com/af/2bc98d/00000000000000007735aff1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff"),url("https://www.kaged.com/af/2bc98d/00000000000000007735aff1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"din-2014";
src:url("https://www.kaged.com/af/efa8e9/00000000000000007735aff4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff2"),url("https://www.kaged.com/af/efa8e9/00000000000000007735aff4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff"),url("https://www.kaged.com/af/efa8e9/00000000000000007735aff4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"din-2014";
src:url("https://www.kaged.com/af/1fe1ce/00000000000000007735aff6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff2"),url("https://www.kaged.com/af/1fe1ce/00000000000000007735aff6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff"),url("https://www.kaged.com/af/1fe1ce/00000000000000007735aff6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"din-2014-narrow";
src:url("https://www.kaged.com/af/2bdaca/00000000000000007735afe5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff2"),url("https://www.kaged.com/af/2bdaca/00000000000000007735afe5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff"),url("https://www.kaged.com/af/2bdaca/00000000000000007735afe5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"din-2014-narrow";
src:url("https://www.kaged.com/af/6be18e/00000000000000007735afeb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff2"),url("https://www.kaged.com/af/6be18e/00000000000000007735afeb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("woff"),url("https://www.kaged.com/af/6be18e/00000000000000007735afeb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3&em-origin=use.typekit.net&em-referer-host=use.typekit.net&em-referer-proto=https") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-din-2014 { font-family: "din-2014",sans-serif; }
.tk-din-2014-narrow { font-family: "din-2014-narrow",sans-serif; }
