.sca_aff_customer_refer_container {
    position: fixed;
    z-index: 2147483647;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/**
 * Web
 */
@media only screen and (min-width: calc(768px + 1px)) {

    .sca_aff_customer_refer_container[data-web-position*="top"] {
        top: 20px;
    }

    .sca_aff_customer_refer_container[data-web-position*="bottom"] {
        bottom: 0;
    }

    .sca_aff_customer_refer_container[data-web-position*="left"] {
        left: 0;
    }

    .sca_aff_customer_refer_container[data-web-position*="right"] {
        right: 0;
    }

    .sca_aff_customer_refer_container[data-web-position*="center-"] {
        left: 0;
        right: 0;
        width: max-content;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .sca_aff_customer_refer_container[data-web-position*="-center"] {
        top: calc(50% - 100px);
    }

    .sca_aff_customer_refer_container[data-web-position*="-center"],
    .sca_aff_customer_refer_container[data-web-position*="-top"] {
        flex-direction: column-reverse;
    }

    .sca_aff_customer_refer_container[data-web-position*="right"] .sca_aff_customer_refer_button {
        margin-left: auto;
        animation-name: fadeInRight;
    }

    .sca_aff_customer_refer_container[data-web-position*="left"] .sca_aff_customer_refer_button {
        animation-name: fadeInLeft;
    }

    .sca_aff_customer_refer_container[data-web-position*="center-"] .sca_aff_customer_refer_button {
        animation-name: fadeInUp;
    }
}

/**
 * Mobile
 */
@media screen and (max-width: 768px) {

    .sca_aff_customer_refer_container {
        padding: 0 5px;
    }

    .sca_aff_customer_refer_container .sca_aff_customer_refer_invite_container {
        margin: 0;
    }

    .sca_aff_customer_refer_container[data-mobile-position*="right"] .sca_aff_customer_refer_button {
        margin-right: 0;
        margin-left: auto;
        animation-name: fadeInRight;
    }

    .sca_aff_customer_refer_container[data-mobile-position*="left"] .sca_aff_customer_refer_button {
        margin-left: 0;
        margin-right: auto;
        animation-name: fadeInLeft;
    }

    .sca_aff_customer_refer_container[data-mobile-position*="bottom"] {
        bottom: 0;
    }

    .sca_aff_customer_refer_container[data-mobile-position*="left"] {
        left: 0;
        animation-name: fadeInLeft;
    }

    .sca_aff_customer_refer_container[data-mobile-position*="right"] {
        right: 0;
    }

    .sca_aff_customer_refer_container[data-mobile-position*="top"] {
        top: 20px;
        flex-direction: column-reverse;
        justify-content: start;
    }

    .sca_aff_customer_refer_container[data-mobile-position*="center-"] {
        left: 0;
        right: 0;
        width: max-content;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .sca_aff_customer_refer_container[data-mobile-position*="-center"] {
        top: calc(50% - 100px);
        flex-direction: column-reverse;
        justify-content: start;
    }

    .sca_aff_customer_refer_shop_now_overlay {
        padding: 10px;
    }

    .sca_aff_customer_invite_share_container {
        justify-content: center;
    }
}


/**
 * UI
 */
.sca_aff_customer_refer_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background-color: #0f85ef;
    color: #fff;
    animation-duration: .5s;
    line-height: 16px;
    outline: none;
    transition-property: -ms-transform, -webkit-transform, transform;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    width: max-content;
    margin: 20px;
    z-index: 99999999;
}

.sca_aff_customer_refer_button:active {
    transform: scale(0.925) !important;
}

.sca_aff_customer_refer_button .sca_aff_customer_refer_icon {
    width: 20px;
    margin-right: 10px;
}

.sca_aff_customer_refer_invite_container {
    display: none;
    background-color: #fff;
    height: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 15px 35px #32325d33, 0 5px 15px #0000002b;
    animation-duration: .5s;
    max-width: 100%;
    margin: 0 20px;
}

.sca_aff_customer_refer_close_button {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    width: 25px;
    height: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px 10px 0 auto;
    cursor: pointer;
}

.sca_aff_customer_refer_invite_contents {
    padding: 20px;
}

.sca_aff_customer_refer_invite_content {
    color: #4b4848;
}

.sca_aff_customer_refer_invite_content::placeholder {
    color: #000000;
    opacity: .4;
}

.sca_aff_customer_refer_invite_header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #000;
}

.sca_aff_custom_invite_inputs {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sca_aff_custom_invite_input {
    width: 70% !important;
    height: 100% !important;
    border-radius: 10px 0 0 10px !important;
    border: 1px solid #ccc !important;
    border-right: none !important;
    margin: 0 !important;
    background-color: #fff !important;
    color: #484848 !important;
    opacity: 1 !important;
    padding-left: 10px;
}

.sca_aff_custom_invite_input:focus,
.sca_aff_custom_invite_input:focus-visible {
    outline: none;
    box-shadow: none !important;
}


.sca_aff_customer_refer_invite_button {
    height: 100%;
    width: 30%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: none;
    cursor: pointer;
}

.sca_aff_customer_invite_share_container {
    display: flex;
    align-items: center;
    animation: fadeInDown .5s;
}

.sca_aff_customer_invite_share_container a {
    display: flex;
    margin-right: 10px;
    padding: 5px;
    background-color: #f1e7e785;
    border-radius: 10px;
}

.sca_aff_customer_invite_share_container a img {
    width: 30px;
    height: 30px;
}

.sca_aff_customer_refer_discount_iframe {
    display: none !important;
}

.sca_aff_customer_refer_shop_now_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    outline: 0;
    z-index: 2147483648;
    background-color: #000000d6;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    animation: fadeIn .5s;
}

.sca_aff_customer_refer_shop_now_container {
    background-color: #fff;
    width: 400px;
    height: max-content;
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
    animation: fadeInDown .5s;
}

.sca_aff_customer_refer_close_shop_now_button {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    width: 25px;
    height: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.sca_aff_customer_refer_shop_now_header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
    color: #000;
}

.sca_aff_customer_refer_shop_now_content {
    text-align: center;
    color: #4b4848;
}

.sca_aff_customer_refer_shop_now_button {
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 15px;
    margin: 10px auto;
    display: block;
    width: max-content;
    text-decoration: none;
}

.sca_aff_customer_invite_error {
    color: red;
    opacity: .8;
    display: none;
    font-size: 14px;
}

/**
 * Animation
 */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0)
    }
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0)
    }
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}